//UTILIZANDO NAS PÁGINAS INDEX DE PROPRIEDADES E PROPRIETÁRIOS - DESTACA OS REGISTROS DESATIVADOS
.registerDesative{
		color:#607B8B;
}

//UTILIZANDO NA PÁGINA DE CADASTRO DE PROPRIEDADES - SELECT: DISPONIBILIDADE 
.selectAtiveProperty{
	background: #0095a9;
	color:white;
	font-size:17px;
}

.clearLog{
	color: #019c00;
}

.noClearLog{
	color: #ff0000;
}

.emptyRegister{
	color: #019c00;
}

.numLogs{
	color: #ccbb00;
}