.category-icon-sm{
	display:block;
	float:left;
	width:75px;
	height:50px;
	background-image: url(../images/categories.png);
	background-repeat:no-repeat;
	background-size:375px auto;
	
}
.category-icon-sm-white{
	display:block;
	float:left;
	width:75px;
	height:50px;
	background-image: url(../images/categories-white.png);
	background-repeat:no-repeat;
	background-size:375px auto;
	
}
.category-icon{
	display:block;
	width:150px;
	height:100px;
	background-image: url(../images/categories.png);
	background-repeat:no-repeat;
	
}
.category-icon-white{
	display:block;
	width:150px;
	height:100px;
	background-image: url(../images/categories-white.png);
	background-repeat:no-repeat;
	
}
.category-A1{background-position:0px 0px}.category-A2{background-position:0px -100px}.category-A3{background-position:0px -200px}.category-A4{background-position:0px -300px}.category-A5{background-position:0px -400px}.category-A6{background-position:0px -500px}.category-A7{background-position:0px -600px}.category-A8{background-position:0px -700px}.category-A9{background-position:0px -800px}.category-A10{background-position:0px -900px}.category-A11{background-position:0px -1000px}
.category-B1{background-position:-150px 0px}.category-B2{background-position:-150px -100px}.category-B3{background-position:-150px -200px}.category-B4{background-position:-150px -300px}.category-B5{background-position:-150px -400px}.category-B6{background-position:-150px -500px}.category-B7{background-position:-150px -600px}.category-B8{background-position:-150px -700px}.category-B9{background-position:-150px -800px}.category-B10{background-position:-150px -900px}.category-B11{background-position:-150px -1000px}
.category-C1{background-position:-300px 0px}.category-C2{background-position:-300px -100px}.category-C3{background-position:-300px -200px}.category-C4{background-position:-300px -300px}.category-C5{background-position:-300px -400px}.category-C6{background-position:-300px -500px}.category-C7{background-position:-300px -600px}.category-C8{background-position:-300px -700px}.category-C9{background-position:-300px -800px}.category-C10{background-position:-300px -900px}.category-C11{background-position:-300px -1000px}
.category-D1{background-position:-450px 0px}.category-D2{background-position:-450px -100px}.category-D3{background-position:-450px -200px}.category-D4{background-position:-450px -300px}.category-D5{background-position:-450px -400px}.category-D6{background-position:-450px -500px}.category-D7{background-position:-450px -600px}.category-D8{background-position:-450px -700px}.category-D9{background-position:-450px -800px}.category-D10{background-position:-450px -900px}.category-D11{background-position:-450px -1000px}
.category-E1{background-position:-600px 0px}.category-E2{background-position:-600px -100px}.category-E3{background-position:-600px -200px}.category-E4{background-position:-600px -300px}.category-E5{background-position:-600px -400px}.category-E6{background-position:-600px -500px}.category-E7{background-position:-600px -600px}.category-E8{background-position:-600px -700px}.category-E9{background-position:-600px -800px}.category-E10{background-position:-600px -900px}.category-E11{background-position:-600px -1000px}


.category-sm-A1{background-position:0px 0px}.category-sm-A2{background-position:0px -50px}.category-sm-A3{background-position:0px -100px}.category-sm-A4{background-position:0px -150px}.category-sm-A5{background-position:0px -200px}.category-sm-A6{background-position:0px -250px}.category-sm-A7{background-position:0px -300px}.category-sm-A8{background-position:0px -350px}.category-sm-A9{background-position:0px -400px}.category-sm-A10{background-position:0px -450px}.category-sm-A11{background-position:0px -500px}
.category-sm-B1{background-position:-75px 0px}.category-sm-B2{background-position:-75px -50px}.category-sm-B3{background-position:-75px -100px}.category-sm-B4{background-position:-75px -150px}.category-sm-B5{background-position:-75px -200px}.category-sm-B6{background-position:-75px -250px}.category-sm-B7{background-position:-75px -300px}.category-sm-B8{background-position:-75px -350px}.category-sm-B9{background-position:-75px -400px}.category-sm-B10{background-position:-75px -450px}.category-sm-B11{background-position:-75px -500px}
.category-sm-C1{background-position:-150px 0px}.category-sm-C2{background-position:-150px -50px}.category-sm-C3{background-position:-150px -100px}.category-sm-C4{background-position:-150px -150px}.category-sm-C5{background-position:-150px -200px}.category-sm-C6{background-position:-150px -250px}.category-sm-C7{background-position:-150px -300px}.category-sm-C8{background-position:-150px -350px}.category-sm-C9{background-position:-150px -400px}.category-sm-C10{background-position:-150px -450px}.category-sm-C11{background-position:-150px -500px}
.category-sm-D1{background-position:-225px 0px}.category-sm-D2{background-position:-225px -50px}.category-sm-D3{background-position:-225px -100px}.category-sm-D4{background-position:-225px -150px}.category-sm-D5{background-position:-225px -200px}.category-sm-D6{background-position:-225px -250px}.category-sm-D7{background-position:-225px -300px}.category-sm-D8{background-position:-225px -350px}.category-sm-D9{background-position:-225px -400px}.category-sm-D10{background-position:-225px -450px}.category-sm-D11{background-position:-225px -500px}
.category-sm-E1{background-position:-300px 0px}.category-sm-E2{background-position:-300px -50px}.category-sm-E3{background-position:-300px -100px}.category-sm-E4{background-position:-300px -150px}.category-sm-E5{background-position:-300px -200px}.category-sm-E6{background-position:-300px -250px}.category-sm-E7{background-position:-300px -300px}.category-sm-E8{background-position:-300px -350px}.category-sm-E9{background-position:-300px -400px}.category-sm-E10{background-position:-300px -450px}.category-sm-E11{background-position:-300px -500px}