.command{
	
	background: #FFF;
	color:#000;
	font-size: 0.75em;

}
.valores{
	background:#FFF;
	color:#000;
	font-size: 1.5em;
	text-align: right;
	padding: 1ex;
	margin-bottom: 1ex;
}
.screen_printer{
	#nota{
		text-align: center;
		iframe{
			width:82.5mm;
			height: 350px;
		}
	}
	.button{
		width:82.5mm;
		margin: 0 auto;
		.print{
			float: right;
		}
	}
}