.panel{
	@color : #222;
.panel-body{
	color:@color;
	li.iten{
	cursor:pointer;
	
}
}
.panel-footer{
	color:@color;
}

}
.led{
	width:15px;
	height:15px;
	display: block;
	float:left;
	margin-right:15px;
	margin-top:0.8ex;
	border-radius:50%;
	border:2px outset;
	
	.led(@color){
		background:@color;
		border-color:@color;
		box-shadow: 1px 1px 3px @color;
	}
	&.toDo{
		.led(#CCC);
	}
	&.doing{
		.led(#FF0);
	}
	&.done{
		.led(#0F0);
	}
}
.negative{
	color:#F00;
}
