/*  ---    demands     ---   */

/*  ---    <select Table>     ---   */

// @import url("variable.css.less");
a{
	color: #FFF;
}
#select-table{
	.tables{
		
	 @blue: #0095a9;
		display:block;
		width:100%;
		height: 120px;
		background: @blue;
		color:#FFF;
		&:hover{
			background: darken(@blue, 6%);
			text-decoration: none;
		}
		h1{
			font-size: 1.5em;
			font-weight:bold;
			text-align:center;
			margin:0;
			padding-top:20px;
		}
		h2{
			font-size: 0.7em;
			font-style:italic;
			text-align:center;
			margin-top:0;
			color:#AFA;
		}
		&.disabled{
			@disabled-color: desaturate(@blue, 30%);
			background: @disabled-color;
			color:lighten(@disabled-color, 20%);
			cursor:default;
		}
		span.led{
			background: #0F0;
			display:block;
			width:15px;
			height:15px;
			border-radius:50%;
			border: #393 outset 2px;
			position:absolute;
			left:8px;
			bottom:8px;
			&.disabled{
				background: #F00;
				border: #933 outset 2px;
			}
			
		}
		span.status{
			font-size:0.9em;
			position:absolute;
			left:30px;
			bottom:8px;
			line-height:2ex;
		}
	}
}

#select_category{
	@color: #0095a9;
	border-bottom:1px dashed #666;
	height:220px;
	
	.category{
		background: @color;
		width:100%;
		height:80px;
		float:left;
		color:#FFF;
		&:hover{
			text-decoration:none;
		}
		i{
			float:none;
			margin: 0 auto;
			margin-top:10px;
		}
		p{
			margin-top:-5px;
			margin-left:5px;
			font-size:0.8em;
		}
		
	}
}

#select_itens{
	border-bottom:1px dashed #666;
	height:220px;
	overflow:auto;
	.itens{
		background: @blue;
		width:100%;
		height:50px;
		float:left;
		margin:2px;
		color:#FFF;
		border-radius: 5px;
		cursor: pointer;
		i{
			margin: 0 -10px;
		}
		p{
			margin:0;
			&.cod{
				font-size:0.8em;
				margin-bottom:0;
				font-weight:bold;
			}
			&.name{
				font-size:0.7em;
				margin-top:-0.8ex;
				line-height: 1em;
			}
			
		}
		&:hover{
			text-decoration:none;
			background: darken(@blue, 6%)
		}
		
		.info-context{
			background: #000;
			position: absolute;
			padding: 10px;
			width: 230px;
			min-height: 300px;
			z-index: 100;
			right: 3ex;
			top:3ex;
			border-radius: 5px;
			border: 1px #888 solid;
			display: none;
			font-size: 0.8em;
			p{
				margin: 0.8ex 0;
			}
		}
	}
	
}
#demands{
	.info{
		font-size:0.8em;
		p{
			margin:0;
			line-height:2ex;
		}
	}
	.list{
			width:100%;
			height:300px;
			border: 1px #888 inset;
			margin-top:20px;
			font-size:0.8em;
			overflow:auto;
		}
	
}
#demands.demands-mobile{

	margin-top: -3ex;

	
}
.frame-search-itens{
		background: #000;
		width: 100%;
		height: 100%;
		position: fixed;
		top:0; left: 0;
		display: none;
		.header{
			border-bottom: 1px #FFF solid;
			padding-bottom: 1ex;
			.close{
				color: #FFF;
				font-size: 1.5em;
				opacity:1;
			}
		}
		#select_itens{
			height:300px;
			.itens{
				background: @wine;
				&:hover{
					text-decoration: none;
					background: darken(@wine, 6%);
				}
				&:active{
					text-decoration: none;
					background: darken(@wine, 7%);
				}
			}
		}
		.status{
			text-align: center;
			display: none;
		}
		#search{
			margin-top: 2ex; 
		}
}
.modal.qty{
	background:url("../images/opacity50.png");
	.modal-dialog {
		width: 250px;
		position:fixed;
		left:50%;
		top:10%;
		margin-left:-125px;
	}

}

#additional{
	font-size:0.6em;
	
	
}
.link{
	height:100px;

	.photo_garcon{
		width: 80px;
		height: auto;
	}
	.getLink{
		img{
			width: 100%;
			height:auto;
		}
	}
}
.link_table_garcon{
	.dropdown{
		color: #000;
	}
	.dropdown-menu{
		li:hover{
			background: #ACD;
		}
	}
	.photo_garcon{
		width: 60px;
		height: auto;
	}
}