.box 
{
	/*margin: 0 auto;*/
    width: 100%;    
}

.box-chart 
{
	width: 100%;
   
    padding: 0;
    
}

.legend_mouth{
	background-color: rgba(220,220,220,0.5);
	border:2px;
	border-style: solid;
	border-color: rgba(220,220,220,0.8);
	margin: 0 5px 0 0;
	display: inline-block;
	height: 15px;
	width: 15px;	
}

.legend_med{
	background-color: rgba(151,187,205,0.5);
	border:2px;
	border-style: solid;
	border-color: rgba(151,187,205,0.8);
	margin: 0 5px 0 0;
	display: inline-block;
	height: 15px;
	width: 15px;
}

.descricao_legend{
	font-size: 0.7em;
}