 .modules{

   .dark(@color){    }
   .light(@color){  }
   .icon(@icon-name){ background-image: url('../images/modules-icons/icon-@{icon-name}.png');  }
   .background(@color){
      .light(@color);
      &:hover{.dark(@color)}
   }

   height: 150px;
   display:block;
   background-color: @color-bg;
   background-repeat: no-repeat;
   background-position: center 30%;
   background-size: auto 45%;
   &:hover{
      text-decoration: none; 
      background-color: darken(@color-bg, 5%);
   }
   
   label{margin-top: 125px; margin-left: 10px; color: #FFF;  font-size: 16px; }
   
   //MAIN
   &.itens{.background(@orange); .icon(itens); }
   &.stock{.background(@lightgray); .icon(stock); }
   &.demand{.background(@purple); .icon(demand); }
   &.demands_garcon{.background(@green); .icon(checkout02); }
   &.myattendances{.background(@slateblue); .icon(myattendances); }
   &.menu{.background(@green); .icon(menu); }
   &.tables{.background(@gray); .icon(tables); }
   &.customer{.background(@darkorange); .icon(customer); }
   &.user{.background(@royalblue); .icon(user);}
   &.cookery{.background(@yellow); .icon(cookery);}
   &.config{.background(@red); .icon(config);}
   &.cook_account{.background(@red); .icon(list);}
   &.cook_monitor{.background(@summersky); .icon(monitorcook);}
   &.garcon_monitor{.background(@skyblue); .icon(monitorgarcon);}
   &.desk_monitor{.background(@wood); .icon(monitor);}
   &.financial{.background(@deeppink); .icon(financial);}
   &.checkout{.background(@mediumseagreen); .icon(checkout02);}
   &.balance{.background(@escarlata); .icon(balance);}
   &.sales{.background(@lightsteelblue); .icon(sales);}
   &.provider{.background(@midnightblue); .icon(provider);}
   
      
   //ADMIN
   &.owner{.background(@purple); .icon(owner); }
   &.property{.background(@royalblue); .icon(property); }
   &.admin{.background(@orange); .icon(admin); }
   
   
   }