/*  category   */


 .category-icon-block{
 	&.selected{
 		background:#669;
 	}
 	background:#FFF;
 	
 	}
 .col-md-3.category{
 	padding: 5px;
 	cursor:pointer;
 	&:hover{
 		background:#ccc;
 	}
 	&:active{
 		background:#ccf;
 	}
 	}