@font-regular: 'segoewp';
@font-size-base:20px;
@color-bg: #05444d;
@color-text:#FFF;

	@blue: #0095a9;
   @lightgray: #63777a;
   @green: #019c00;
   @purple: #800080;
   @red: #cc0000;
   @yellow: #c9cc00;
   @orange: #ff4500;
   @royalblue: #009fe9;
   @slateblue: #765acd;
   @darkorange: #ff8c00;
   @gray: #363636;
   @skyblue: #4A708B;
   @deeppink: #FF1493;
   @mediumseagreen: #3CB371;
   @summersky: #38B0DE;
   @wood: #A68064;
	@escarlata: #8C1717;
	@lightsteelblue: #8F8FBD;
   @violet: #306;
   @wine:#603;
   @midnightblue:#191970;