/*
Theme Name: Matchup
Theme URI: http://wordpress.org/
Description: Matchup é a União de varias tecnologias.
Author: Thiago Lima
Author URI: http://wordpress.org/
Version: 2.0
*/

@import url("css/variable.less");

h1{font-size:1.3em;}

body{
    font-family: @font-regular;
	font-size:@font-size-base;
	background:@color-bg;
	color:@color-text;
	
	
}
#background{
		position:absolute;
		width:100%;
		height:100%;
		background-image:url(images/bg-login/metro.gif);
		background-size:cover;
}

// Login
#login{
	h1#title{
		text-shadow:#000 1px 1px 1px;
	}

	.row .nopadding{
		padding-left: 0;
		padding-right: 0;
	}

	#footer{
		text-align:center;
		font-size:12px;
		font-style:italic;
		span{
			background-color:#000;
		}
	}
}

// End login

#icon-user{
	text-align:right;
	img{
		height:60px;
		width:auto
	}
}
#name-user{
	text-align:right;
	h1{
		font-weight:normal;
		font-size:1.4em;
		margin-top:5px;
		margin-bottom:0;
	}
	h2{
		font-weight:normal;
		font-size:0.8em;
		margin:0;
	}
}

.row .nopadding{
	padding-left: 0;
	padding-right: 0;
}
select{
	color:#000;
}
legend{
	color:#FFF;
}


#menu-fast{
	position:absolute;
	opacity:0.8;
	top:112px;
	left:0;
	width:80px;
	.icon{
		width:60px;
		height:60px;
		opacity:0.6;
		background-color:#000;
		background-size:50%;
		background-repeat:no-repeat;
		background-position:center;
		border-radius:50%;
		
		&:hover{opacity:0.8;}
	.iconf(@icon-name){ background-image: url('images/icon-@{icon-name}.png');  }
	 &.menu{.iconf(menu)}
	 &.tables{.iconf(table)} 
	 &.customer{.iconf(customer)}
	 &.user{.iconf(user)} 

	}
	}


.block{
	padding:2px;
}



 /*modulos*/
.content{margin-top:4ex;}
 .block{
	padding:2px;
}

fieldset{
	legend{
		color:inherit;
	}
}
form {
	label{
	font-size:0.8em;
	font-weight:normal;
}
}
#photo-user{
	img{
		width:150px;
		height:auto;
		cursor:pointer;
		border: outset 2px;
		&:hover{
			
		}
		&:active{
			border: inset 2px;
			opacity:0.8;
		}
	}
}



footer{
	text-align:center;
	font-size:12px;
	font-style:italic;
}


/*   Lista e table   */

.options{
	@color:#0095a9;
	display:block;
	width:90px;
	min-height:60px;
	padding-top: 6px;
	padding-botom:0;
	background: @color;
	color:#FFF;
	text-align:center;
	box-shadow:#000 1px 1px 3px;
	float:left;
	border:0;
	span{
	font-size: 1.2em;
	display:block;
	}
	label{
	font-size: 0.5em;
	margin-bottom:0;
	line-height:2ex;
	}
	&:hover{
		color:#FFF;
		text-decoration:none;
		background: darken(@color,5%);
	}
	&:active{
		background: darken(@color,8%);
		box-shadow:#000 -1px -1px 3px;
		border:0;
	}
	
}


 
 /*  modal   */
.modal{
	color:#000;
	
}

/* panel */
.panel{
	@color : #222;
	border: 8px solid #6dabf6;

.panel-heading{
	background: #6dabf6;
	padding: 0;
	color: @color;
	font-size: 0.8em;
}
.panel-body{
	color:@color;
	font-size: 0.8em;
}
.panel-footer{
	color:@color;
	font-size:0.8em;
}
}
