/*
Theme Name: Matchup
Theme URI: http://wordpress.org/
Description: Matchup é a União de varias tecnologias.
Author: Thiago Lima
Author URI: http://wordpress.org/
Version: 2.0
*/

@font-regular: 'segoewp';
@font-size-base:20px;
@color-bg: #05444d;
@color-text:#FFF;

body{
    font-family: @font-regular;
	font-size:@font-size-base;
	background:@color-bg;
	color:@color-text;
	
	
}
#background{
		position:absolute;
		width:100%;
		height:100%;
		background-image:url(images/bg-login/metro.gif);
		background-size:cover;
		z-index:0;
	}
	
h1#title{
	text-shadow:#000 1px 1px 1px;
}

.row .nopadding{
	padding-left: 0;
	padding-right: 0;
}

#footer{
	text-align:center;
	font-size:12px;
	font-style:italic;
	span{
		background-color:#000;
	}
}

